{% extends 'layout.njk' %}

{% block navlinks %}
  <li><a href="/" class="active">Instructors</a></li>
  <li><a href="/members">Members</a></li>
{% endblock %}

{% block content %}
  <section class="card">

    <div class="container table-container">

      <a href="/instructors/create" class="create-btn">Criar</a>

      <table class="table">
        <thead>
          <tr>
            <th>Instructor</th>
            <th class="index-display">Atendimento</th>
            <th class="index-display" id="index-alunos">Alunos</th>
            <th>Acessar</th>
          </tr>
        </thead>
        <tbody>
          {% for instructor in instructors %}
            <tr>
              <td>
                <span style="background-image:url({{instructor.avatar_url}})"></span>
                {{instructor.name}}
              </td>
              <td class="index-display">{{instructor.services}}</td>
              <td class="index-display" id="index-alunos">{{instructor.total_students}}</td>
              <td><a href="/instructors/{{instructor.id}}" class="see-btn">ver</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div><!-- container end -->
  </section>
{% endblock content %}
